.place__image {
  max-width: 460px;
  align-self: start;
}

@media screen and (max-width: 1100px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 870px) {
  .place__image {
    max-width: 400px;
  }
}

@media screen and (max-width: 827px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 400px) {
  .place__image {
    padding-bottom: 32px;
    max-width: 320px;
  }
}
