@import url(./__language-link/header__language-link.css);
@import url(./__language-link/_language-link_selected/header__language-link_selected.css);
@import url(./__language-links/header__language-links.css);

.header {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 720px;
  }
}
