.lead__title {
  max-width: 720px;
  min-width: 288px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding-top: 54px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    line-height: 44px;
    font-size: 40px;
  }
}
