.footer__links {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .footer__links {
    padding-left: 16px;
    flex-direction: column;
    align-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }
}
