.header__language-link {
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
}

.header__language-link:last-of-type {
  margin-right: 0;
}

.header__language-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  .header__language-link {
    padding-top: 30px;
    font-size: 18px;
    line-height: 24px;
  }
}
