@font-face {
  font-family: "Inter-Regular";
  font-weight: normal;
  src:
  url('./Inter-Regular.woff2') format('woff2'),
  url('./Inter-Regular.woff') format('woff');
}     /*Статья открывалась, но с остальными правками я про неё забыл. Иногда я не очень умный. ¯\_(ツ)_/¯ */

@font-face {
  font-family: "Inter-Black";
  font-weight: 900;
  src:
  url('./Inter-Black.woff2') format('woff2'),
  url('./Inter-Black.woff') format('woff');
}

@font-face {
  font-family: "Inter-Bold";
  font-weight: bold;
  src:
  url("./Inter-Bold.woff2") format("woff2"),
  url("./Inter-Bold.woff") format("woff");
}
