.lead__image {
  display: block;
  object-fit: cover;
  max-width: 984px;
}

@media screen and (max-width: 1190px) {
  .lead__image {
    max-width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .lead__image {
    max-width: 100%;
  }
}
