.lead__caption {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-top: 8px;
  font-size: 10px;
  line-height: 14px;
  align-self: flex-start;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 500px) {
  .lead__caption {
    padding-left: 16px;
  }
}
